{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RachaThai{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header class="header-container">
        <!-- Navigation links above the logo -->
        <nav class="top-nav">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'vowels' %}">Vowels</a></li>
                <li><a href="{% url 'consonant-sounds' %}">Clickable Sounds</a></li>
            </ul>
        </nav>
        
        <!-- Logo and title below the navigation -->
        <div class="logo-container">
            <img src="{% static 'RachaThaiLogo.png' %}" alt="Logo" class="logo">
            <div class="logo-title">RachaThai</div>
        </div>
    </header>

    <!-- The content of the page will go here -->
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>



