{% extends '_base.html' %}

{% block content %}
    <h1>Click for Sound!</h1>
    <div class="consonant-list">
        {% for consonant in consonants %}
            <div class="consonant-item" data-audio="{{ consonant.audio_pronunciation.url }}">
                <!-- The clickable card with letter -->
                <span class="letter">
                    {{ consonant.letter }}
                </span>
            </div>
        {% endfor %}
    </div>

    <script>
        // JavaScript to play audio when consonant card is clicked
        document.querySelectorAll('.consonant-item').forEach(function(item) {
            item.addEventListener('click', function() {
                var audioUrl = item.getAttribute('data-audio');
                var audio = new Audio(audioUrl);
                audio.play();
            });
        });
    </script>
{% endblock %}


